body {
    font-family: arial,sans-serif;
    font: 12px arial,sans-serif;
}

.clearfix {
    clear: both;
}

#wrapper {
    width: 1080px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}


#content_area {
    float: left;
    width: 750px;
    margin: 20px 0 20px 0;
}

#sidebar {
    float: right;
    width: 250px;
    height: 400px;
    margin: 20px 10px 20px 10px;
    padding: 10px;
    border: 1px solid #CCB598;
}

#footer {
    clear: both;
    width: auto;
    padding: 10px;
    border-top: 1px solid #CCB598;
    text-align: center;
}

#navigation {
    background: #5A4428;
    margin: 24px 0px;
}

#nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

    #nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: auto;
        display: none;
    }

    #nav li {
        font-size: 16px;
        float: left;
        position: relative;
        width: 119px;
        border: solid 1px #725D42;
    }

        #nav li:hover {
            color: #725D42;
        }

            #nav li:hover > ul {
                display: block;
            }

        #nav li ul {
            position: absolute;
            background: #5A4428;
            z-index: 5;
        }

            #nav li ul li {
                border: none;
                border-bottom: solid 1px #725D42;
            }

    #nav a:link, #nav a:active, #nav a:visited, #nav span {
        display: block;
        color: #B89466;
        text-decoration: none;
    }

    #nav a:hover {
        color: #CCB598;
    }

    #nav span {
        padding: 5px 5px 6px 5px;
    }

    #nav a {
        padding: 15px 10px;
    }

#searchbox {
    width: auto !important;
}

    #searchbox input[type="text"] {
        padding: 2.5px 6px;
    }

    #searchbox input[type="submit"] {
        border: none;
        background: #A3805A;
        margin: 0;
        padding: 4px 7px;
    }

.login {
    font-size: 14px;
    width: 100%;
}

    .login .text {
        width: 60px;
    }

    .login input[type="text"], .login input[type="password"] {
        padding: 5px 10px;
        border: 1px solid #ccc;
        width: 200px;
    }

    .login .error-message {
        float: right;
        font-size: 16px;
        color: red;
    }

#bt {
    padding: 3px 5px;
    background: #5F78AB;
    color: #fff;
    width: 114px;
    margin-top: 5px;
    font-size: 11px;
    line-height: 14px;
    font-weight: bold;
    text-decoration: none;
}

.fb-share-button {
    width: 90px !important;
}

.imgLeft {
    float: left;
    width: 240px;
    height: 150px;
    margin: 0px 10px 10px 0;
    padding: 10px;
}

.imgRight {
    float: right;
    width: 200px;
    height: 250px;
    margin: 0px 0 10px 10px;
    padding: 10px;
}

.box1 {
    width: 49%;
    float: left;
    margin-right: 1%;
}

    .box1 input {
        padding: 7px 5px;
        border: 1px solid #ccc;
        font-family: Arial;
    }

.box2 {
    width: 49%;
    float: right;
}


    .box2 textarea {
        padding: 5px 5px;
        border: 1px solid #ccc;
        height: 124px;
        width: 96%;
        font-family: Arial;
    }

    .box2 input, .login input[type="submit"] {
        padding: 7px 40px;
        float: right;
        border: 1px solid #A3805A;
        background: #A3805A;
    }

        .box2 input:hover, .login input[type="submit"]:hover {
            color: #fff;
        }


.login-button {
    float: left !important;
    margin: 0;
    padding: 7px 36px !important;
}

.register-button {
    padding: 7px 25px;
    line-height: 2.3;
    border: 1px solid #A3805A;
    background: #A3805A;
    margin-left: 11px;
    text-decoration: none;
    color: #000;
}

    .register-button:hover {
        color: #fff;
    }

.shop-tabel {
    width: 100%;
}

    .shop-tabel td {
        border-bottom: 1px solid #CCB598;
    }

    .shop-tabel tr:last-child {
        border-bottom: none;
    }

    .shop-tabel .details {
        width: 70% !important;
        float: right;
        margin-top: 10px;
    }

        .shop-tabel .details .paypal {
            width: 18% !important;
            height: 100%;
            float: right !important;
        }

        .shop-tabel .details .paypal-group {
            margin-left: 5px;
            margin-top: 0;
        }

            .shop-tabel .details .paypal-group input {
                margin-left: 10px;
                text-align: center;
                padding: 0 5px;
                width: 20px;
            }

.paypal-button button.large {
    padding: 5px 14px !important;
    font-size: 12px !important;
}

.shop-tabel img {
    width: 25%;
    float: left;
}

.productTable {
    width: 100%;
    margin: 10px 10px 10px 0;
}

    .productTable tr th, .productTable tr td {
        text-align: left;
    }

    .productTable img {
        padding: 0px 10px 10px 0px;
        height: 150px;
        width: 150px;
    }

.orderTable {
    width: 500px;
    height: auto;
    margin: 10px;
}

    .orderTable td {
        border: 1px solid;
        text-align: center;
        padding: 5px;
        width: 100px;
    }

#ctl00_ContentPlaceHolder1_pnlProducts div {
    float: left;
    width: 350px;
    margin-bottom: 20px;
}

.ProductsName {
    margin: 0px 5px 5px 0px;
    font-weight: bold;
    font-size: 18px;
    color: gray;
}

.ProductsDescription {
    margin: 0px 5px 5px 0px;
    font-weight: normal;
    font-size: 16px;
}

.ProductsPrice {
    margin: 0px 5px 5px 0px;
    color: orange;
}

.ProductsImage {
    width: 150px;
    height: 150px;
    vertical-align: central;
    padding: 10px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.bxslider img {
    width: 100%;
}

/* ----------single product ------*/
#single_product {
    margin-bottom: 30px;
}

    #single_product img {
        width: 30%;
    }

    #single_product table {
        width: 68%;
        float: right;
    }

        #single_product table td {
            width: 80%;
        }

        #single_product table .td1 {
            width: 20%;
        }

.single_product_review {
    width: 100%;
    border: 1px solid #CCB598;
    border-bottom: none;
}


.btn_review {
    float: right;
    border: solid 1px #CCB598;
    background: #CCB598;
    padding: 5px 10px;
    margin-top: 19px;
    margin-right: -2px;
}

.single_product_review .user_info {
    width: 20%;
    float: left;
    min-height: 100px;
    height: 100%;
    border-right: 1px solid #CCB598;
}

    .single_product_review .user_info h4 {
        padding-left: 10px;
        margin-top: 10px;
    }

.single_product_review .review {
    margin-top: 10px;
    width: 79%;
    float: right;
}

.single_product_review:last-child {
    border: 1px solid #CCB598;
}

.ratingStar {
    height: 12px;
    width: 12px;
    margin-left: 2px;
}

.filledRatingStar {
    background: url('../Images/FilledStar.png');
}

.emptyRatingStar {
    background: url('../Images/EmptyStar.png');
}

.savedRatingStar {
    background: green;
}
/*--------------------modal popup*/

.modalBackground {
    background-color: #ccc;
    filter: alpha(opacity=90);
    opacity: 0.8;
}

.modalPopup {
    background-color: #fff;
    border-width: 2px;
    border-style: solid;
    border-color: #CCB598;
    padding-top: 10px;
    padding-left: 10px;
    width: 600px;
    height: 250px;
}

    .modalPopup textarea {
        width: 95%;
        margin: 1%;
    }

    .modalPopup input {
        border: solid 1px #CCB598;
        background: #CCB598;
        padding: 5px 10px;
        width: 100px;
        margin-left: 5px;
    }
